<p><h1>Refund Policy</h1></p>


<h3>Returns</h3>

<p>Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.</p>


<p>To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</p>


<p>Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.</p>


<p>Additional non-returnable items:</p>

<ul>
	<li>Gift cards</li>
	<li>Downloadable software products</li>
	<li>Some health and personal care items</li>
</ul>

<p>To complete your return, we require a receipt or proof of purchase.</p>


<p>Please do not send your purchase back to the manufacturer.</p>


<p>There are certain situations where only partial refunds are granted: (if applicable)

Book with obvious signs of use

CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.

Any item not in its original condition, is damaged or missing parts for reasons not due to our error.

Any item that is returned more than 30 days after delivery
</p>

<p>Refunds (if applicable)</p>

<p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.

If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.

</p>
<h5>Late or missing refunds (if applicable)</h5>

<p>If you haven’t received a refund yet, first check your bank account again.

Then contact your credit card company, it may take some time before your refund is officially posted.

Next contact your bank. There is often some processing time before a refund is posted.

If you’ve done all of this and you still have not received your refund yet, please contact us at [contact@dream5.in].
</p>



<h5>Exchanges (if applicable)</h5>
<p>
We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at [info@dream5.in] and send your item to: no 23 2nd floor 8th A cross Sultanpalya Main Road Kanaganagar Bangalore India 560032.

</p>