body{
    background: #282d31;
}
.slim-header {
    background-color: #282d31;
    border-bottom-width: 0;
}
.slim-footer {
    margin-top: 0;
}
.sidebar-nav-link i {    
    margin-right: 25px;    
}
.slim-logo a {
    color: #fff;
    font-weight: 500;
}
.header-notification {
    color: rgba(255, 255, 255, 0.75);
}
.header-notification .indicator {
    background-color: #367EC1;
}
.logged-user {
    color: rgba(255, 255, 255, 0.75);
}
.carousel-item{
  height: 400px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}
.signin-box{
    width: 279px !important;
}

.register_page{
    position: absolute;
    right: 11.3%;
    top: 19.8%;
}
.slider{
    position: relative;
}
.signin-box{
    padding: 40px 30px;
    background: #282d31;
    border: 1px solid #282d31;
}
.toc{
    font-size: 9px;
    color: white;
    margin-top: 10px;
}
.toc a {
    color: #F49917;
}
.signin-title-primary{
    color:#fff;
    text-align: center;
}
.form-control, .dataTables_filter input {
    border: 0;
}
.register_form .alert {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: .5rem;
}
.register_form .alert-danger {
    color: orangered;
    background-color:transparent;
    border-color: transparent;
}
.register_form input::placeholder {
  color: #C6C6C6 !important;
  font-size: 1em;
  opacity: 1;
}
.login_form input::placeholder {
  color: #C6C6C6 !important;
  font-size: 12px;
  opacity: 1;
}
.login-box {
    margin-top: 15px;
}
.add_chips a {
    color: black;
    text-align: center;
    padding: 6px 10px;
    display: block;
    background: #FFB612;
}
.btn-primary {
    background: #FFB612;
    color:black;
    border: 1px solid #FFB612;
}
.slim-navbar .nav-item.active .nav-link {
    background: #FFB612;
    color:black;
}
.slim-header-right .dropdown-a {
    margin: 0 10px;
}
@media (min-width: 320px) and (max-width:1025px)
{
    .register_page{
        display:none;
    }
}
.slim-body {
    max-width: 1140px;
    margin: 0 auto; 
    padding: 0 15px;
}
.slim-body .myprofile .container {
    padding: 25px 0 25px 25px;
}