body{
    /*background: #212529;*/
    background: #282d31;
}
.slim-header {
    background-color: #212529;
    border-bottom-width: 0;
}
.slim-header .container {
    padding-left: 0;
}
.slim-footer {
    margin-top: 0;
}
.sidebar-nav-link i {    
    margin-right: 25px;    
}
.slim-logo a {
    color: #fff;
    font-weight: 500;
}
.header-notification {
    color: rgba(255, 255, 255, 0.75);
}
.header-notification .indicator {
    background-color: #367EC1;
}
.logged-user {
    color: rgba(255, 255, 255, 0.75);
}
.carousel-item{
    height: 400px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}
.signin-box{
    width: 279px !important;
}

.register_page{
    position: absolute;
    right: 11.3%;
    top: 19.8%;
}
.slider{
    position: relative;
}
.signin-box{
    padding: 40px 30px;
    background: #282d31;
    border: 1px solid #282d31;
}
.toc{
    font-size: 9px;
    color: white;
    margin-top: 10px;
}
.toc a {
    color: #F49917;
}
.signin-title-primary{
    color:#fff;
    text-align: center;
}
.login_form .form-control, .dataTables_filter input, .register_form .form-control,   .dataTables_filter input {
    border: 0;
}
.register_form .alert {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: .5rem;
}
.register_form .alert-danger {
    color: orangered;
    background-color:transparent;
    border-color: transparent;
}
.register_form input::placeholder {
    color: #C6C6C6 !important;
    font-size: 1em;
    opacity: 1;
}
.login_form input::placeholder {
    color: #C6C6C6 !important;
    font-size: 12px;
    opacity: 1;
}
.login-box {
    margin-top: 15px;
}
.add_chips .cash {
    background: #23BF08;
    color: #FFF;
    font-weight: bolder;
}
.add_chips a {
    color: black;
    text-align: center;
    padding: 6px 10px;
    display: block;   
    background: #FFB612;
}
.btn-primary {
    background: #FFB612;
    color:black;
    border: 1px solid #FFB612;
}
.slim-navbar .nav-item.active .nav-link {
    background: #FFB612;
    color:black;
}
.slim-header-right .dropdown-a {
    margin: 0 10px;
}
@media (min-width: 320px) and (max-width:1025px)
{
    .register_page{
        display:none;
    }
}
.slim-body {
    max-width: 1140px;
    margin: 0 auto; 
    padding: 0 15px;
}
.slim-body .myprofile .container {
    padding: 25px 0 25px 25px;
}
.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
    background: #FFB612;
    color: #000;
}
.jconfirm-box .jconfirm-buttons button.btn-default {
    background: #000 !important;
    color: #fff !important;
}
.error{
    color:red;
}
.success {
    color: #23BF08;
}
.frgt_pwd_btn{
    padding: 6px;
}
.hide_form{
    display: none;
}
.hide_label{
    visibility: hidden;
}
.cursor_pointer{
    cursor: pointer;
}
#order_amount, #bonus_code{
    border-top: none;
    border-right: none;
    border-left: none;
}
.toast-success {
    background-color: #FFB612;
}
#toast-container>div {
    opacity: 1;
    box-shadow: none;
}
#toast-container>.toast-success{
    background-image: none !important;
}
.toast-top-right {
    right: 755px;
}



.small_btn.btn-primary {
    padding: 4px 12px;
}
select.form-control.select2.select2-hidden-accessible{
    color: #868ba1;
}
input.form-control{
    color: #868ba1 !important;
}
.table.table-success1    tfoot > tr > td{
    background-color:#343a40;
    border: 0; 
}
.btn-success { padding: 10px 44px;}
.uploaded {
    text-align: center;
    color: #FFB612;
    font-style: italic;
    vertical-align: middle;
    margin-bottom: 0;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
}
.pagination a, .pagination strong{
    padding: 8px 15px;
}
.pagination a {
    color: #495057;
    padding: 11px 0;
    width: 38px;
    height: 40px;
    text-align: center;
    border-radius: 0;
    border-color: #ced4da;
    margin: 0 5px !important;
    border: 1px solid;
}
.pagination .current {
    background-color: #23BF08;
    color: #fff !important;
    border-color: transparent;
}
.pagination {
    margin-top: 20px;
}
.slim-navbar .nav-link .icon {
    color: #868ba1;
}
.slim-navbar .nav-item.active .nav-link .icon{
    color: #868ba1;
}
.slim-navbar .nav-link .square-8 {
    color: #FFB612;
    background-color: #FFB612;
}
.tx-primary,.tx-success,.tx-purple,.tx-danger{
    color: #FFB612;
}
a {
    color: #FFB612;
}
.sidebar-nav-link i {
    color: #FFB612;
}
.dashboard-4 .card-table .card-header .nav-link.active {
    color: #FFB612;
}
.sidebar-nav-sub .nav-sub-link.active,.sidebar-nav-link.active,.sidebar-nav-link.active i {
     color: #FFB612;
}
.sidebar-nav-sub .nav-sub-link:hover, .sidebar-nav-sub .nav-sub-link:focus {
    color: #FFB612;
}
.btn-primary:hover ,.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active,
 .show > .btn-primary.dropdown-toggle,.btn-primary:focus, .btn-primary.focus,
 .btn-primary:not(:disabled):not(.disabled):active:focus, 
 .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    background-color: #FFB612;
    border-color: #FFB612;
    box-shadow: 0 0 0 0.2rem #FFB612;
}



/*my custom*/
.hm-slider{
	position:relative;
}
.register_page{
	top:0;
}




/* Responsive */
@media only screen and (max-width: 767px) {
	.slim-header {
    width: 100%;
    height: auto;
    display: block;
    align-items: unset;
	}
	.slim-header .container{
		display: block;
	}
	.slim-logo{
		text-align:center;
	}
	.register_page {
		display: block;
	}
	.register_page{
		right: 8%;
	}
    .login-box {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
	
}

@media only screen and (max-width: 480px) {
}

@media ( min-width: 576px ) and (max-width: 768px) {
	.login-box .mg-t-20 {
		margin-top: 0;
	}
}

@media ( min-width: 768px ) and (max-width: 991px){
	.register_page {
		display: block;
	}
	.login-box .mg-t-20 {
		margin-top: 0;
	}
}

@media ( min-width: 992px ) and (max-width: 1199px){
	.register_page {
		display: block;
	}
	
}
.bg_clr_yel{
    background-color: #FFB612 !important;
    color: white !important;
}
.bet_result{
    width:100%;
}
.p_label,.p_value,.p_label_1,.p_value_1{
    width: 50%;
    float: left;
    text-align: right;
}
.final_amount_user{
    font-weight: 900;
    font-size: large;
    color: #1C9A06;
}
.check_balance_btn{
    cursor: not-allowed;
    pointer-events:none;
    opacity: 0.5;
}
.logged-user img {
	border:0px !important;
}